
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: lightblue;
}

h1 {
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    font
}
h2{
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
}

.article {
    width: 50%; /* Ajusto el ancho de los artículos según sea necesario */
    margin: 20px;
    display: block; /* Hago que los artioculos q se comporten como bloque */
    text-align: justify;
    
    
}
.article h2{
    color: red;
    text-decoration: underline;
    
}
.article p{
    font-style: italic;
    font-weight: bold;
}

.article img {
    display: block;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    max-width: 300px; 
    height: auto; /* Mantengo la proporcion */
}
