body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    background:lightblue;
}

h1 {
    text-align: center;
    color: black;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-bottom: 10px;
    color: grey;
}

input[type="text"],
input[type="email"],
select {
    width: calc(100% - 130px); /* El ancho total menos el ancho del label */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: calc(100% - 130px);
}

button {
    width: calc(100% - 130px);
    padding: 10px;
    background:lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Agrego un espacio arriba del botón */
}

button:hover {
    background: red;
}


